#############################################################################################################################################################################################
#
#    ███████╗██╗      █████╗ ███╗   ███╗███████╗███████╗
#    ██╔════╝██║     ██╔══██╗████╗ ████║██╔════╝██╔════╝
#    █████╗  ██║     ███████║██╔████╔██║█████╗  ███████╗
#    ██╔══╝  ██║     ██╔══██║██║╚██╔╝██║██╔══╝  ╚════██║
#    ██║     ███████╗██║  ██║██║ ╚═╝ ██║███████╗███████║
#    ╚═╝     ╚══════╝╚═╝  ╚═╝╚═╝     ╚═╝╚══════╝╚══════╝
#
#    𝗖𝗿𝗲𝗮𝘁𝗲𝗱 𝗯𝘆 𝗚𝗮𝗯𝗿𝗶𝗲𝗹 '𝗞𝗮𝘇𝘇' 𝗠𝗼𝗿𝗴𝗮𝗱𝗼
#    Github: https://github.com/flamesphp/flames
#    Docs:   https://flamesphp.com
#
#############################################################################################################################################################################################

# development | release
ENVIRONMENT=development

# Default Application Name
# 𝗍𝗒𝗉𝖾: string | 𝖽𝖾𝖿𝖺𝗎𝗅𝗍: Flames
APP_NAME=Flames

# Default Application Name
# 𝗍𝗒𝗉𝖾: string | 𝖽𝖾𝖿𝖺𝗎𝗅𝗍: 1.0.0
APP_VERSION=1.0.0

# Token for server unique identification and cryptograph salts like passwords
# 𝗍𝗒𝗉𝖾: string|sha1 | 𝖽𝖾𝖿𝖺𝗎𝗅𝗍: be397fd199a88ed04f81d0f340451f88a26a565f
APP_KEY=

# Default App Title
# 𝗍𝗒𝗉𝖾: string | 𝖽𝖾𝖿𝖺𝗎𝗅𝗍: Flames
APP_TITLE=Flames

# Default App Domain
# 𝗍𝗒𝗉𝖾: string | 𝖽𝖾𝖿𝖺𝗎𝗅𝗍: localhost
#APP_DOMAIN=localhost
APP_DOMAIN=localhost

# Default App Protocol
# 𝗍𝗒𝗉𝖾: string | 𝖽𝖾𝖿𝖺𝗎𝗅𝗍: https
#APP_PROTOCOL=https
APP_PROTOCOL=http

APP_PORT=80

APP_FORWARDED_PORT=8080

# Default App Author
# 𝗍𝗒𝗉𝖾: string | 𝖽𝖾𝖿𝖺𝗎𝗅𝗍: Flames
APP_AUTHOR=Flames

# Default App Description
# 𝗍𝗒𝗉𝖾: string | 𝖽𝖾𝖿𝖺𝗎𝗅𝗍: Flames Skeleton
APP_DESCRIPTION="Flames: Skeleton"

# Cryptograph salt token password
# 𝗍𝗒𝗉𝖾: string|sha1 | 𝖽𝖾𝖿𝖺𝗎𝗅𝗍: ac527f6ce30e23e17e74a3c10c7ac59a5c3e398a
CRYPTO_KEY=

# JsonWebToken private RSA file
# 𝗍𝗒𝗉𝖾: rsa | 𝖽𝖾𝖿𝖺𝗎𝗅𝗍: flames.private.rsa (ROOT/config/flames.private.rsa path)
CRYPTO_JWT_PUBLIC=flames.private.rsa

# JsonWebToken public RSA file
# 𝗍𝗒𝗉𝖾: rsa | 𝖽𝖾𝖿𝖺𝗎𝗅𝗍: flames.public.rsa (ROOT/config/flames.public.rsa path)
CRYPTO_JWT_PRIVATE=flames.public.rsa

#CLIENT_SANIZATE_OUTPUT=true

DATE_TIMEZONE=America/Sao_Paulo

AUTO_BUILD_CLIENT=true
AUTO_BUILD_IGNORE_PATHS=

#    ██████  ██    ██ ███    ███ ██████
#    ██   ██ ██    ██ ████  ████ ██   ██
#    ██   ██ ██    ██ ██ ████ ██ ██████
#    ██   ██ ██    ██ ██  ██  ██ ██
#    ██████   ██████  ██      ██ ██

# 𝗗𝗲𝗳𝗶𝗻𝗲 𝗶𝗳 𝗱𝘂𝗺𝗽 𝗶𝘀 𝗲𝗻𝗮𝗯𝗹𝗲𝗱
# 𝗍𝗒𝗉𝖾: 𝗯𝗼𝗼𝗹𝗲𝗮𝗻 | 𝖽𝖾𝖿𝖺𝗎𝗅𝗍: 𝘁𝗿𝘂𝗲
# 𝗳𝗮𝗹𝘀𝗲: 𝘥𝘶𝘮𝘱 𝘧𝘶𝘯𝘤𝘵𝘪𝘰𝘯 𝘸𝘪𝘭𝘭 𝘧𝘢𝘭𝘭𝘣𝘢𝘤𝘬 𝘵𝘰 𝘷𝘢𝘳_𝘥𝘶𝘮𝘱
DUMP_ENABLED=true

# 𝗗𝗲𝗳𝗶𝗻𝗲 𝗶𝗳 error handler 𝗶𝘀 𝗲𝗻𝗮𝗯𝗹𝗲𝗱
# 𝗍𝗒𝗉𝖾: 𝗯𝗼𝗼𝗹𝗲𝗮𝗻 | 𝖽𝖾𝖿𝖺𝗎𝗅𝗍: 𝘁𝗿𝘂𝗲
# 𝗳𝗮𝗹𝘀𝗲: use default PHP error handler
ERROR_HANDLER_ENABLED=true

#    ██████   █████  ████████  █████  ██████   █████  ███████ ███████
#    ██   ██ ██   ██    ██    ██   ██ ██   ██ ██   ██ ██      ██
#    ██   ██ ███████    ██    ███████ ██████  ███████ ███████ █████
#    ██   ██ ██   ██    ██    ██   ██ ██   ██ ██   ██      ██ ██
#    ██████  ██   ██    ██    ██   ██ ██████  ██   ██ ███████ ███████

# 𝙍𝙚𝙢𝙚𝙢𝙗𝙚𝙧: 𝙮𝙤𝙪 𝙘𝙖𝙣 𝙪𝙨𝙚 𝙢𝙪𝙡𝙩𝙞𝙥𝙡𝙚 𝙙𝙖𝙩𝙖𝙗𝙖𝙨𝙚 𝙘𝙤𝙣𝙣𝙚𝙘𝙩𝙞𝙤𝙣𝙨
# 𝙎𝙚𝙩 𝙙𝙚𝙛𝙖𝙪𝙡𝙩 𝙞𝙣 𝙘𝙖𝙨𝙚 𝙤𝙛 𝙨𝙞𝙣𝙜𝙡𝙚 𝙘𝙤𝙣𝙣𝙚𝙘𝙩𝙞𝙤𝙣 𝙤𝙧 𝙪𝙣𝙧𝙚𝙜𝙞𝙨𝙩𝙚𝙧𝙚𝙙 𝙙𝙖𝙩𝙖𝙗𝙖𝙨𝙚 𝙢𝙤𝙙𝙚𝙡 𝙖𝙩𝙩𝙧𝙞𝙗𝙪𝙩𝙚

# 𝗬𝗼𝘂𝗿 𝗱𝗮𝘁𝗮𝗯𝗮𝘀𝗲 𝗱𝗲𝗳𝗮𝘂𝗹𝘁 𝗰𝗼𝗻𝗻𝗲𝗰𝘁𝗶𝗼𝗻
# 𝗍𝗒𝗉𝖾: 𝗲𝗻𝘂𝗺 | 𝖽𝖾𝖿𝖺𝗎𝗅𝗍: mariadb
# 𝗲𝗻𝘂𝗺: mysql, mariadb, postgresql, sqlite, sqlsrv
DATABASE_DEFAULT=mariadb

# MySQL Connection
# 𝗠𝘆𝗦𝗤𝗟 𝗖𝗼𝗻𝗻𝗲𝗰𝘁𝗶𝗼𝗻 driver
# 𝘁𝘆𝗽𝗲: string | 𝖽𝖾𝖿𝖺𝗎𝗅𝗍: mariadb
DATABASE_MARIADB_DRIVER=mariadb

# 𝗠𝘆𝗦𝗤𝗟 𝗖𝗼𝗻𝗻𝗲𝗰𝘁𝗶𝗼𝗻 database host
# 𝘁𝘆𝗽𝗲: string | 𝖽𝖾𝖿𝖺𝗎𝗅𝗍: db
DATABASE_MARIADB_HOST=db

# 𝗠𝘆𝗦𝗤𝗟 𝗖𝗼𝗻𝗻𝗲𝗰𝘁𝗶𝗼𝗻 database port
# 𝘁𝘆𝗽𝗲: string | 𝖽𝖾𝖿𝖺𝗎𝗅𝗍: 3306
DATABASE_MARIADB_PORT=3306

# 𝗠𝘆𝗦𝗤𝗟 𝗖𝗼𝗻𝗻𝗲𝗰𝘁𝗶𝗼𝗻 database name
# 𝘁𝘆𝗽𝗲: string | 𝖽𝖾𝖿𝖺𝗎𝗅𝗍: flames
DATABASE_MARIADB_NAME=flames

# 𝗠𝘆𝗦𝗤𝗟 𝗖𝗼𝗻𝗻𝗲𝗰𝘁𝗶𝗼𝗻 database login user
# 𝘁𝘆𝗽𝗲: string | 𝖽𝖾𝖿𝖺𝗎𝗅𝗍: flames
DATABASE_MARIADB_USER=flames

# 𝗠𝘆𝗦𝗤𝗟 𝗖𝗼𝗻𝗻𝗲𝗰𝘁𝗶𝗼𝗻 database login password
# 𝘁𝘆𝗽𝗲: string | 𝖽𝖾𝖿𝖺𝗎𝗅𝗍: flames
DATABASE_MARIADB_PASSWORD=password
